<h2>PRODUCT MANAGEMENT</h2>

<a href="/logout">Logout</a>

<h3>Add Product</h3>
<form action="/add" method="post">
    Name: <input name="name"><br>
    Price: <input name="price"><br>
    Quantity: <input name="quantity"><br>
    <button>Add</button>
</form>

<h3>Product List</h3>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>

    <% products.forEach(p => { %>
        <tr>
            <td><%= p.id %></td>
            <td><%= p.name %></td>
            <td><%= p.price %></td>
            <td><%= p.quantity %></td>
            <td>
                <a href="/edit/<%= p.id %>">Edit</a> |
                <a href="/delete/<%= p.id %>"
                   onclick="return confirm('Delete?')">Delete</a>
            </td>
        </tr>
    <% }) %>
</table>
